<config ld_verbose="yes">
	<libc stdin="/dev/terminal" stdout="/dev/terminal"
	      stderr="/dev/terminal" rtc="/dev/rtc" pipe="/dev/pipe"
	      socket="/socket"/>
	<vfs>
		<fs/>
		<dir name="dev"> <inline name="rtc">2018-01-01 00:01</inline> </dir>
	</vfs>
	<arg value="bash"/>
	<arg value="--login"/>
	<env key="TERM"          value="screen"/>
	<env key="HOME"          value="/home"/>
	<env key="PATH"          value="/bin" />
	<env key="PAGER"         value="cat" />
	<env key="EDITOR"        value="/bin/vim" />
	<env key="GIT_EXEC_PATH" value="/libexec/git-core" />
</config>
