<config ld_verbose="yes">
	<vfs>
		<tar name="coreutils.tar" />
		<tar name="vim.tar" />
		<tar name="bash.tar" />
		<tar name="sed.tar" />
		<tar name="git.tar" />

		<dir name="home">
			<rom name=".bash_profile" label="bash_profile" binary="no"/>
			<ram/>
		</dir>
		<dir name="share"> <dir name="vim"> <rom name="vimrc"/> </dir> </dir>
		<dir name="tmp"> <ram/> </dir>
		<dir name="dev">
			<zero/> <null/> <terminal/>
			<dir name="pipe"> <pipe/> </dir>
		</dir>

		<dir name="bin">
			<symlink name="sh" target="bash"/>
		</dir>

<!--
		<dir name="socket"> <lwip dhcp="yes"/> </dir>
-->
	</vfs>

	<policy label_prefix="vfs_rom" root="/"/>
	<default-policy root="/" writeable="yes"/>
</config>
