<config verbose="yes">

	<parent-provides>
		<service name="ROM"/>
		<service name="LOG"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Timer"/>
		<service name="Nitpicker"/>
	</parent-provides>

	<start name="nit_fb" caps="110">
		<resource name="RAM" quantum="2M"/>
		<provides> <service name="Framebuffer"/> <service name="Input"/> </provides>
		<config/>
		<route> <any-service> <parent/> </any-service> </route>
	</start>

	<start name="terminal" caps="110">
		<resource name="RAM" quantum="2M"/>
		<provides><service name="Terminal"/></provides>
		<route>
			<service name="ROM" label="config">
				<parent label="terminal.config"/> </service>
				<service name="Framebuffer"> <child name="nit_fb"/> </service>
				<service name="Input">       <child name="nit_fb"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs" caps="100">
		<resource name="RAM" quantum="10M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs>
				<tar name="bash.tar"/>
				<dir name="dev"> <terminal/> </dir>
			</vfs>
			<default-policy root="/" />
			<policy label_prefix="/bin/bash" root="/" writeable="yes" />
		</config>
		<route>
			<service name="Terminal"> <child name="terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs_rom" caps="100">
		<resource name="RAM" quantum="10M"/>
		<binary name="fs_rom"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="/bin/bash" caps="1000">
		<resource name="RAM" quantum="10M" />
		<config>
			<libc stdin="/dev/terminal" stdout="/dev/terminal" stderr="/dev/terminal"
			      rtc="/dev/null"/>
			<vfs>
				<dir name="dev"> <null/> <log/> </dir>
				<fs/>
			</vfs>
			<arg value="bash"/>
		</config>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<service name="ROM" label_last="/bin/bash"> <child name="vfs_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
