<config ld_verbose="yes">
	<libc stdin="/dev/terminal" stdout="/dev/terminal"
	      stderr="/dev/terminal" rtc="/dev/rtc" pipe="/dev/pipe" cwd="/rw"/>
	<vfs>
		<fs/>
	</vfs>
	<arg value="bash"/>
	<env key="TERM"  value="screen"/>
	<env key="PATH"  value="/bin" />
	<env key="SHELL" value="/bin/bash" />
	<env key="PS1" value="\[\033[34m\]\w\[\033[37m\]$ \[\033[00m\]" />
</config>
