<config>
	<initial width="800" height="600"/>
	<vfs>
		<rom name="12.bdf"/>
		<dir name="fonts">
			<dir name="monospace">
				<bdf name="regular" path="12.bdf" shade="light" scale="2" highlighted="yes" interlaced="yes" cache="256K"/>
			</dir>
		</dir>
	</vfs>
	<palette>
		<color index="0"  value="#18212b"/>
		<color index="1"  value="#d35c5c"/>
		<color index="2"  value="#9dc67d"/>
		<color index="3"  value="#b39a69"/>
		<color index="4"  value="#a8a8cb"/>
		<color index="5"  value="#a57e9b"/>
		<color index="6"  value="#00aaaa"/>
		<color index="7"  value="#dbd5d1"/>
		<color index="0"  value="#18212b"/>
		<color index="9"  value="#cc5555"/>
		<color index="10" value="#7aad72"/>
		<color index="11" value="#ffff55"/>
		<color index="12" value="#7686bd"/>
		<color index="13" value="#ff55ff"/>
		<color index="14" value="#77baac"/>
		<color index="15" value="#ffffff"/>
	</palette>
</config>
