<config>
	<vfs>
		<tar name="coreutils.tar" />
		<tar name="vim.tar" />
		<tar name="bash.tar" />
		<tar name="binutils-m68k.tar" />
		<tar name="make.tar" />
		<tar name="asm56k.tar" />
		<tar name="sed.tar" />

		<dir name="home"> <fs label="home"/> </dir>
		<dir name="share"> <dir name="vim"> <rom name="vimrc"/> </dir> </dir>
		<dir name="tmp"> <ram/> </dir>
		<dir name="dev">
			<zero/> <null/> <terminal/> <rtc/>
			<dir name="pipe"> <pipe/> </dir>
		</dir>
	</vfs>

	<policy label_prefix="vfs_rom" root="/"/>
	<default-policy root="/" writeable="yes"/>
</config>
