<config verbose="yes">

	<parent-provides>
		<service name="ROM"/>
		<service name="LOG"/>
		<service name="RM"/>
		<service name="CPU"/>
		<service name="PD"/>
		<service name="Timer"/>
		<service name="Gui"/>
	</parent-provides>

	<start name="terminal" caps="110">
		<resource name="RAM" quantum="8M"/>
		<provides> <service name="Terminal"/> </provides>
		<route>
			<service name="ROM" label="config">
				<parent label="terminal.config"/> </service>
			<service name="Gui"> <parent/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs" caps="100">
		<resource name="RAM" quantum="10M"/>
		<provides> <service name="File_system"/> </provides>
		<config>
			<vfs>
				<tar name="bash.tar"/>
				<tar name="coreutils.tar"/>
				<tar name="vim.tar"/>
				<dir name="dev">
					<terminal/>
					<dir name="pipe"> <pipe/> </dir>
				</dir>
				<dir name="tmp"> <ram/> </dir>
				<dir name="share"> <dir name="vim"> <rom name="vimrc"/> </dir> </dir>
			</vfs>
			<default-policy root="/" />
			<policy label_prefix="/bin/bash" root="/" writeable="yes" />
		</config>
		<route>
			<service name="Terminal"> <child name="terminal"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="vfs_rom" caps="100">
		<resource name="RAM" quantum="10M"/>
		<binary name="fs_rom"/>
		<provides> <service name="ROM"/> </provides>
		<config/>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

	<start name="/bin/bash" caps="1000">
		<resource name="RAM" quantum="10M" />
		<config>
			<libc stdin="/dev/terminal" stdout="/dev/terminal" stderr="/dev/terminal"
			      rtc="/dev/null" pipe="/dev/pipe"/>
			<vfs>
				<dir name="dev"> <null/> <log/> </dir>
				<fs/>
			</vfs>
			<arg value="bash"/>
			<env key="SHELL" value="bash"/>
			<env key="TERM"  value="screen"/>
			<env key="PATH"  value="/bin"/>
		</config>
		<route>
			<service name="File_system"> <child name="vfs"/> </service>
			<service name="ROM" label_last="/bin/bash"> <child name="vfs_rom"/> </service>
			<service name="ROM" label_prefix="/bin"> <child name="vfs_rom"/> </service>
			<any-service> <parent/> </any-service>
		</route>
	</start>

</config>
